The certificate monitor is used to check validity of certificates and alert you prior to your certificates expiring:
<br><br>
<ul class="fa-ul">
    <li><i class="fa-li fa fa-check-circle gator-green"></i>Whether the certificate is accessible</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>Whether the certificate is matches the domain</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>Whether the certificate is expired</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>Whether the certificate is valid</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>Whether the certificate has a revoked root CA</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>Whether the certificate supports a cipher that has been deprecated</li>
</ul>