Monitors global load times and satisfaction levels from real users.  Find issues based on real user experiences. Optimize your site's performance based on
dozens of attributes including location and device.  This is enabled by placing a JavaScript snippet on your pages.
<br><br>
We monitor the following metrics for issues:
<br><br><table class="table">
    <tr><td>DNS Time</td><td>The average amount of time DNS resolution takes.</td></tr>
    <tr><td>Response Time</td><td>The average amount of time the webserver takes to begin the response to the user.</td></tr>
    <tr><td>Interactive Time</td><td>The average amount of time in milliseconds before the page becomes interactive.</td></tr>
</table>

Once implemented, there is sophisticated reporting available on performance issues that can be segmented by:
<ul>
    <li>Geolocation</li>
    <li>Browser</li>
    <li>Platform</li>
    <li>Device</li>
    <li>Time of Day</li>
</ul>
...and many other attributes.  You can even compare traffic levels to performance issues to determine if you need extra capacity.