The website monitor uses our global network of monitoring stations to make sure your website is available and responsive from around the world.  The website monitor continuously checks your site for the following issues:
<br><br>
<ul class="fa-ul">
    <li><i class="fa-li fa fa-check-circle gator-green"></i>If the site is up or down</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>If the site loads within a time that you set</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>If DNS is responding</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>If content on the site matches what you expect (see the 'match phrase' item)</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>How long it takes to resolve DNS, connect to the site and download the HTML</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>For secure sites, whether the certificate is matches the domain</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>For secure sites, whether the certificate is expired</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>For secure sites, whether the certificate is valid</li>
    <li><i class="fa-li fa fa-check-circle gator-green"></i>If the URL redirects, that the target exists</li>
</ul>