<div style="width:100%; background-color:#f4f6f8;height:56px; border-bottom: 1px solid #eee;padding:11px">
    <span id="platformBarIcon"></span>
    <span id="platformTitle" style="font-size:22px"><%- req.session.user.name %></span>
    <span id="platformBarItems" style="float: right"></span>
</div>
