<h1>Thank you</h1>
<h3>Please relaunch the app</h3>
You will be redirected back to the apps page to re-launch the app now that it has the session cookie permissions.
<br><br>
<a target="_top" class="btn btn-lg btn-primary" href="<%- returnUrl %>">Return to apps page...</a>
