<!DOCTYPE html>
<html>
<head>
    <% include partials/report/header %>
    <% include partials/master/header %>
</head>
<body class="fixed-navigation">

<div id="wrapper">

    <% include partials/master/leftPanel %>

    <div id="page-wrapper" class="white-bg">

        <% include partials/master/topPanel %>

        <div class="wrapper wrapper-content">
            <div class="row white-bg">

                <% include partials/master/message %>

                <div class="col-lg-12" style="height:1200px">
                    <h1><%- title %></h1>
                    <br>
                    <%- message %>
                </div>
            </div>
        </div>
        <% include partials/master/footer %>
    </div>
</div>

<% include partials/master/footerScripts %>
<% include partials/report/footerScripts %>

</body>
</html>
