<!DOCTYPE html>
<html>
<head>
    <% include partials/master/header %>
</head>
<body style="background-color: #ebeef0">
<script>

    //  wait for page to load, then redirect
    $(document).ready(function() {
        window.location = '<%- url %>';
    });
</script>
</body>
</html>
