<!DOCTYPE html>
<html>
<head>
    <% include ../partials/master/header %>
</head>

<body class="fixed-navigation">

<div id="wrapper">

    <% include partials/leftPanel %>

    <div id="page-wrapper" class="white-bg">

        <% include partials/topPanel %>

        <div class="wrapper wrapper-content">

            <% include ../partials/master/message %>
            <div class="row white-bg" style="min-height:900px">
                <div class="col-lg-12">
                    <h1>Scoring Test</h1>
                    <h3>Your Score</h3>
                    <br><pre><%- JSON.stringify(result, null, 4)%></pre>
                    <br><h3>Options</h3>
                    <br><pre><%- JSON.stringify(options, null, 4)%></pre>
                </div>
            </div>
        </div>
        <% include ../partials/master/footer %>
    </div>
</div>
<% include ../partials/master/footerScripts %>
</body>
</html>
