<% var reportSettings = definition && definition.settings ? definition.settings : {} %>

<form class="form-inline pull-right expandAt1200" style="margin-top:15px;" role="form">

    <div id="reportTimeframe" class="visible-print"></div>

    <div class="input-group hidden-print expandAt1200">

        <span id="toolbar-prior" title="Prior period" class="toolbar-prior input-group-btn" style="width:1%">
            <button id="toolbar-prior-btn" class="toolbar-prior-btn btn btn-white" type="button" onclick="this.blur(); Toolbar.prior()">
                <i class="fa fa-step-backward"></i>
            </button>
        </span>

        <input type="text" id="reportRange" class="form-control expandAt1200" style="min-width:270px;cursor:pointer;background-color:white" readonly />

        <span id="toolbar-next" title="Next period" class="toolbar-next input-group-btn hideAt600" style="width:1%">
            <button id="toolbar-next-btn" class="toolbar-next-btn   btn btn-white form-control" type="button" onclick="this.blur(); Toolbar.next()">
                <i class="fa fa-step-forward"></i>
            </button>
        </span>

        <span id="toolbar-interval" class="input-group-btn hideAt480" style="width:1%">
            <button id="reportInterval" type="button" data-toggle="dropdown" class="btn btn-white dropdown-toggle">
                <span id="reportIntervalTitle">
                    <% if (reportSettings.intervals && reportSettings.intervals.defaultOption) { %>
                        <%- reportSettings.intervals.defaultOption %>
                    <% } else { %>
                        Daily
                    <% } %>
                </span>&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <% if (reportSettings.intervals && reportSettings.intervals.options && reportSettings.intervals.options.Minute) { %>
                    <li id="intervalMenuItemMinute"><a href="#" onclick="Toolbar.intervalChanged('Minute'); return false">Minute</a></li>
                <% } %>

                <% if (reportSettings.intervals && reportSettings.intervals.options && reportSettings.intervals.options.Hourly) { %>
                    <li id="intervalMenuItemHour"><a href="#" onclick="Toolbar.intervalChanged('Hourly'); return false">Hourly</a></li>
                <% } %>

                <% if (reportSettings.intervals && reportSettings.intervals.options && reportSettings.intervals.options.Daily) { %>
                    <li id="intervalMenuItemDay"><a href="#" onclick="Toolbar.intervalChanged('Daily'); return false">Daily</a></li>
                <% } %>

                <% if (reportSettings.intervals && reportSettings.intervals.options && reportSettings.intervals.options.Weekly) { %>
                    <li id="intervalMenuItemWeek"><a href="#" onclick="Toolbar.intervalChanged('Weekly'); return false">Weekly</a></li>
                <% } %>

                <% if (reportSettings.intervals && reportSettings.intervals.options && reportSettings.intervals.options.Monthly) { %>
                    <li id="intervalMenuItemMonth"><a href="#" onclick="Toolbar.intervalChanged('Monthly'); return false">Monthly</a></li>
                <% } %>
            </ul>
        </span>

        <span id="toolbar-refresh" title="Refresh data" class="input-group-btn hideAt1024" style="width:1%">
            <button type="button" class="btn btn-white" onclick="runQuery(); return false;"><i class="fa fa-refresh"></i></button>
        </span>

        <span id="toolbar-dashboard" title="Add this report to a dashboard" class="toolbar-dashboard input-group-btn hideAt1024" style="width:1%">
            <button type="button" class="btn btn-white" data-toggle="modal" data-target="#dashboardModal" onclick="getSuggestedTitle()">
                <i class="fa fa-th-large"></i>
            </button>
        </span>

        <span id="toolbar-columns" title="Add/remove columns and groupings" class="input-group-btn hideAt1024" style="width:1%">
            <button type="button" class="btn btn-white" data-toggle="modal" data-target="#columnsModal">
                <i class="fa fa-columns"></i>
            </button>
        </span>

        <% if (reportSettings.bookmarks != false) { %>
            <span id="toolbar-bookmark" title="Bookmark this report" class="toolbar-bookmark input-group-btn hideAt1024" style="width:1%">
                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#bookmarkCreateModal"><i class="fa fa-bookmark"></i></button>
                <div class="modal inmodal fade" id="bookmarkCreateModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-bookmark modal-icon"></i>
                                <h2 class="modal-title">Bookmark Report</h2>
                                <small class="font-bold">Save this report to the 'Bookmarks' menu.</small>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Bookmark Name:</label>
                                    <input type="text" id="bookmarkName" class="form-control"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="Toolbar.createBookmark(); return false">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        <% } %>
        <!--
        <span class="input-group-btn hideAt768" style="width:1%">
            <button type="button" class="btn btn-white" data-toggle="modal" data-target="#scheduledReportCreateModal"><i class="fa fa-envelope"></i></button>
            % include reportScheduler %
        </span>
        -->

        <span id="toolbar-export" title="Export this report" class="input-group-btn hideAt1024" style="width:1%">
            <button type="button" data-toggle="dropdown" class="btn btn-white dropdown-toggle"><i class="glyphicon glyphicon-share"></i></button>
            <ul class="dropdown-menu pull-right">
                <!--
                        <li><a href="#" onclick="return false"><i class="fa fa-envelope-o"></i>&nbsp; Email</a></li>
                        <li><a href="#" onclick="return false"><i class="fa fa-file-pdf-o"></i>&nbsp; PDF</a></li>
                        <li><a href="#" onclick="return false"><i class="fa fa-file-word-o"></i>&nbsp; Word</a></li>
                        <li><a href="#" onclick="return false"><i class="fa fa-file-excel-o"></i>&nbsp; Excel</a></li>
                        <li><a href="#" onclick="return false">OpenDocument Spreadsheet</a></li>
                        <li><a href="#" onclick="return false">Rich Text Format</a></li>
                        <li><a href="#" onclick="return false">Comma Seperated Values</a></li>
                        <li><a href="#" onclick="return false">Tab Delimited</a></li>
                        <li><a href="#" onclick="return false">JSON</a></li>
                -->
                <li class="toolbar-pdf"><a href="#" onclick="report.download('pdf'); return false">Adobe PDF</a></li>
                <li><a href="#" onclick="report.download('csv'); return false">Comma Separated Values</a></li>
            </ul>
        </span>

        <span id="toolbar-more" class="input-group-btn showCellAt1024" style="width:1%; display:none">
            <button type="button" data-toggle="dropdown" class="btn btn-white dropdown-toggle">
                <i class="fa fa-ellipsis-h"></i>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a href="#" onclick="runQuery(); return false"><i class="fa fa-refresh"></i>&nbsp; Refresh</a></li>
                <li class="toolbar-dashboard">
                    <a href="#" data-toggle="modal" data-target="#dashboardModal" onclick="return false;">
                        <i class="fa fa-th-large"></i>&nbsp; Add to Dashboard
                    </a>
                </li>
                <% if (reportSettings.bookmarks != false) { %>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#bookmarkCreateModal" onclick="return false;">
                            <i class="fa fa-bookmark"></i>&nbsp; Bookmark
                        </a>
                    </li>
                <% } %>
                <li>
                    <a href="#" data-toggle="modal" data-target="#columnsModal" onclick="return false;">
                        <i class="fa fa-columns"></i>&nbsp; Customize Columns
                    </a>
                </li>
                <li class="toolbar-pdf"><a href="#" onclick="report.download('pdf'); return false"><i class="glyphicon glyphicon-share"></i>&nbsp; Export Adobe PDF</a></li>
                <li><a href="#" onclick="report.download('csv'); return false"><i class="glyphicon glyphicon-share"></i>&nbsp; Export CSV</a></li>
            </ul>
        </span>

    </div>
</form>

<div class="modal inmodal fade" id="dashboardModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-th-large modal-icon"></i>
                <h2 class="modal-title">Add to Dashboard</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Pick a Dashboard or <a href="/setup/dashboards">Create a new dashboard</a></label>
                    <br><select id="dashboard-name" class="form-control">
<%
    var dashboards = application.api.reporting.currentDashboards(req);

    if (dashboards) {

        for (var key in dashboards) {
            if (dashboards.hasOwnProperty(key)) {
%>
                <option value="<%- key %>"><%- key %>
<%
            }
        }
    }
%>
                    </select>
                    <br><label>Pick a title:</label>
                    <br><input id="pod-title" type="text" class="form-control" />
                    <br><label>Select what to display:</label>
                    <br><input type="radio" name="pod-type" value="chart" checked> Chart &nbsp;&nbsp; <input type="radio" name="pod-type" value="table"> Table
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                <%  if (dashboards && Object.keys(dashboards).length > 0) { %>
                <a onclick="Toolbar.addToDashboard();" id="modal-create-ok" class="btn btn-primary btn-ok">OK</a>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="columnsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-columns modal-icon"></i>
                <h2 class="modal-title">Customize Columns</h2>
            </div>
            <div class="modal-body">
                <label>Pick what to group the data by:</label>&nbsp; (multiple elements are supported)
                <input class="form-control" id="elements" data-placeholder="Choose what to group on..." type="text" />

                <br><label>Pick which metrics to show in the table:</label>&nbsp; (drag and drop to change order)
                <input class="form-control" id="metrics" data-placeholder="Choose metrics to display..." type="text" />

                <div<%- (reportSettings.segmentation ? '' : ' class="hidden"') %>>
                    <br><label>Pick which segments to display:</label>
                    <input class="form-control" id="segments" data-placeholder="Choose segments..." type="text" />

                    <br><button title="Build your own custom segment" class="btn btn-primary btn-sm" type="button" onclick="newSegment()" data-toggle="modal" data-target="#segmentModal">
                        Define new segment
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="delete report.state.plotKeys; runQuery();">Apply</button>
            </div>
        </div>
    </div>
</div>

<script>

    function getSuggestedTitle() {
        var title = 'New pod';

        if ($('#metrics') && $('#metrics').val()) {
            title = metricSelectize[0].selectize.options[metricSelectize[0].selectize.items[0]].text;
        }

        if ($('#elements') && $('#elements').val()) {
            title += ' by ' + elementSelectize[0].selectize.options[elementSelectize[0].selectize.items[0]].text;
        }

        $('#pod-title').val(title);
    }
</script>