<table id="tableElement" class="table table-hover responsive nowrap" style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Send To</th>
        <th>Alert After</th>
        <th data-orderable="false">Action</th>
    </tr>
    </thead>
</table>
