<table id="tableElement" class="table table-hover responsive nowrap" style="width:100%">
    <thead>
    <tr>
        <th>Enabled</th>
        <th>Name</th>
        <th>Endpoint</th>
        <th>Country</th>
    </thead>
</table>
