<h1>Assign Campaigns to Referrers</h1>
<br />
This page is used to assign a campaign name to specific referrers.  If you wish to track campaigns from an existing referrer where you cannot place the campaign identifier on the link, you
can manually assign the campaign name here.
<br /><br />For example, you can assign and existing partner site to a campaign:
<br /><pre>Referrer: www.partnerx.com<br>Campaign: PartnerX</pre>
<br />
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-create"><strong>Create new assignment</strong></button>
<br /><br />
<div id="dataTable"></div>
