<br><div class="footer hidden-print">
    <div class="hideAt600 pull-right hidden-print">
        <ol class="breadcrumb">
            <li>
                <a href="/support">Support</a>
            </li>

            <li>
                <a href="/terms">Terms</a>
            </li>
            <li>
                <a href="/privacy">Privacy</a>
            </li>
        </ol>
    </div>

    <div>
        <strong>Copyright</strong> <%- application.branding.companyName %> &copy; 2016
    </div>
</div>
