<%
var project, account;

if (req.session && req.session.account) {
    account = req.session.account;
}

//  get current project menu
project = application.api.currentProject(req);
%>

<nav class="navbar-default navbar-static-side hideAt768 hidden-print" role="navigation" style="z-index: 2011">
    <div id="side-menu-container" class="sidebar-collapse hidden-print"></div>
</nav>

<script>
    $(document).ready(function() {
        Page.menuItems = <%- JSON.stringify(application.devMenuItems(account, project)) %>;
        Page.menuLogo = '<%- application.branding.logoMenu %>';
        Page.menuLogoSmall = '<%- application.branding.logoMenuSmall %>';
        Page.renderMenu();
    });
</script>