<h1 id="title">Attributes</h1>
Define custom attributes.  These attributes will appear as options on filters and reporting.
<br /><br /><br />
<button class="btn btn-sm btn-primary m-t-n-xs" onclick="window.location='/setup/attributes/form/<%- project.id %>?type=<%- req.query.type %>'"><strong>Create new <%- req.query.type %> attribute</strong></button>
<br /><br />
<div id="attribute-table">
    <table id="dataTable" class="table table-striped table-bordered table-hover order-column" style="width:100%"></table>
</div>
