<table id="tableElement" class="table table-hover responsive nowrap" style="width:100%">
    <thead>
    <tr>
        <th>Enabled</th>
        <th>Name</th>
        <th id="monitor-type-hdr">Type</th>
        <th>Status</th>
        <th>Streak</th>
        <th data-orderable="false">Action</th>
    </thead>
</table>
